
body {
	display: grid;
	grid-template-columns: 3fr 5fr 2fr;
	background-image: url("https://images.unsplash.com/photo-1523281999025-18e791b667db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70b94feb3606ec0d409d7d133c290c59&auto=format&fit=crop&w=1349&q=80");
	background-size:100%;

}


/* Styling for Draggable li */


/*  element styling   */

li  {
	font-size: 30px;

  /* margin: 5px 0; */
  /* margin-bottom: 20px;
	vertical-align: top; */
	overflow-wrap: break-word;
	line-height: 40px;
	background-color: white;
	border-radius: 25px;
}

ul {
	font-size: 20px;
	list-style-type: none;
  margin-bottom: 20px;
  margin-right: 15px;
	background-color: white;
	border-radius: 25px;

}


p {
	font-size: 40px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 25px;


}

.cover {

}


/*button styling*/
/*
button.ui primary button{
	color: purple;
} */

/* button.ui button{
	color: purple;
} */

/* button {
	margin-bottom: 80px;
	width: 80%
} */



/*div styling*/

div.show-panel {
	 font-size: 80px;
	 margin-right: 60px;
}


div.right-panel {
	/* margin-right: 100px; */

}
