
body {
	display: grid;
	grid-template-columns: 3fr 5fr 2fr;
}


/* Styling for Draggable li */


/*  element styling   */

li  {
	font-size: 30px;
  margin-bottom: 20px;
	vertical-align: top;
	overflow-wrap: break-word;
	line-height: 28px;
}

ul {
	font-size: 20px;
	list-style-type: none;
  margin-bottom: 20px;
}


p {
	font-size: 40px;

}

/* form.ui form {
	margin-top: 100px;

} */


/*button styling*/

button.ui primary button{
	color: purple;
}

button.ui button{
	color: purple;
}

button {
	margin-bottom: 80px;
}



/*div styling*/

div.show-panel {
	 font-size: 80px;
	 margin-right: 60px;
}


div.right-panel {
	margin-right: 100px;
}
